@{
    ViewData["Title"] = "Courses list ";
}

<div class="text-center">
    <h1 >This is list of courses</h1>
    <ul class="list-group">
        @* @foreach (var c in Courses) *@
        @* { *@
        @*      *@
        @* } *@
        
        <li class="list-group-item">a</li>
        <li class="list-group-item">b</li>
        <li class="list-group-item">c</li>
        <li class="list-group-item">d</li>
    </ul>
</div>